body {
  font: 1.2em / 1.5 sans-serif;
}
/* Add styles here */
#special {
    background-color: yellow;
}

.alert {
    border: 2px black solid;
}

span[class*="stop"] {
    background-color: red;
}

span[class*="go"] {
    background-color: green;
}