* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

h1 {
    font-size: 48px;
    margin: 1rem;
}

.container {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;

    margin: 1rem;
}

.item {
    background-color: orange;
    border: 1px solid black;
    text-align: center;
}

.first-row {
    background-color: pink;
}

.last-column {
    background-color: lightblue;
}

.positioning {
    display: inline-grid;
    grid-template: repeat(5, 40px) / repeat(5, 40px);
    background-color: lightblue;

    margin: 1rem;
}

.room {
    border: 1px solid black;
    font-size: 50%;
    text-align: center;
}

#living-room {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;

    /* grid-area: 1 / 1 / 3 / 6 */
    /* grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
}

#bathroom {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;

    /* grid-area: 5 / 3 / 6 / 4 */
}

#bedroom {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;

    /* grid-area: 3 / 1 / 5 / 3 */
}

#closet {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;

    /* grid-area: 5 / 1 / 6 / 3 */
}

#kitchen {
    grid-column: 4 / 6;
    grid-row: 3 / 6;

    /* grid-area: 3 / 4 / 6 / 6 */
}

#corridor {
    grid-column: 3 / 4;
    grid-row: 3 / 5;

    /* grid-area: 3 / 3 / 5 / 4 */
}

/* .positioning {
    display: inline-grid;
    grid-template: repeat(5, 40px) / repeat(5, 40px);
    background-color: lightblue;
    grid-template-areas: 
        "living-room living-room living-room living-room living-room"
        "living-room living-room living-room living-room living-room"
        "bedroom bedroom corridor kitchen kitchen"
        "bedroom bedroom corridor kitchen kitchen"
        "closet closet bathroom kitchen kitchen";
}

.room {
    border: 1px solid;
    font-size: 50%;
    text-align: center;
}

#living-room {
    grid-area: living-room;
}

#bathroom {
    grid-area: bathroom;
}

#bedroom {
    grid-area: bedroom;
}

#closet {
    grid-area: closet;
}

#kitchen {
    grid-area: kitchen;
}   

#corridor {
    grid-area: corridor;
} */